{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<header class="header">
	{% block header %}
		<div class="header-top">
			<div class="header-top__container container-lg">
				<div class="header__left" role="banner">
					<a href="#nav-main-mobile" class="burger-menu">
						<span class="burger-line"></span>
						<span class="burger-line"></span>
						<span class="burger-line"></span>
					</a>
					<a class="header__left-link fs-1" href="{{site.url}}" rel="home"><img class="logo" src="{{theme.link}}/assets/icons/logo.png" alt=""></a>
				</div>
				<ul class="header-top__icons">
					{% if isLoggedin %}
						<li class="header-top__icon">
							<a href="{{site.url}}/my-account"><img src="{{theme.link}}/assets/icons/account-full.png" alt="account"></a>
						</li>
					{% else %}
						<li class="header-top__icon">
							<a href="{{site.url}}/my-account"><img src="{{theme.link}}/assets/icons/account-empty.png" alt="account"></a>
						</li>
					{% endif %}

					<li class="header-top__icon cart-icon">
						<a href="{{site.url}}/cart"><img src="{{theme.link}}/assets/icons/cart-empty.png" alt="account"></a>
						<span class="cart-icon__count cart-icon__count--empty"></span>
						{% include "/views/woo/cart-hover-box.twig" with {'cartItems': cartItems, 'total': cartTotal} %}
					</li>
				</ul>
			</div>

		</div>
		<div class="nav-main-wrapper wrapper container-lg">
			<nav id="nav-main" class="nav-main" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav>
		</div>
		<div class="mobile-menu-wrapper">
			<nav id="nav-main-mobile" class="nav-main-mobile">
				{% include "mobile-menu.twig" with {'items': mobileMenu.get_items} %}
			</nav>
		</div>
	{% endblock %}
</header>

<main id="content" role="main" class="content-wrapper">

	<div class="wrapper {{sidebar_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}

</main>

{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
