{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<header class="header">
	{% block header %}
		<div class="nav-account">
			<div class="nav-account__container container-lg">
				<div class="hdr-logo" role="banner">
					<a class="hdr-logo-link fs-1" href="{{site.url}}" rel="home">{{site.name}}</a>
				</div>
				<ul class="nav-account__icons">
					{% if isLoggedin %}
						<li class="nav-account__icon">
							<a href="{{site.url}}/my-account"><img src="{{theme.link}}/assets/icons/account-full.png" alt="account"></a>
						</li>
					{% else %}
						<li class="nav-account__icon">
							<a href="{{site.url}}/my-account"><img src="{{theme.link}}/assets/icons/account-empty.png" alt="account"></a>
						</li>
					{% endif %}

					<li class="nav-account__icon cart-icon">
						<a href="{{site.url}}/cart"><img src="{{theme.link}}/assets/icons/cart-empty.png" alt="account"></a>

						<span class="cart-icon__count cart-icon__count--empty"></span>
					</li>
				</ul>
			</div>

		</div>
		<div class="wrapper container-lg">

			<nav id="nav-main container-lg" class="nav-main" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav>
		</div>
	{% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">

	<div class="wrapper {{sidebar_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}


</section>

{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
