{% extends "base.twig" %}

{% block content %}

	<div class="container-lg">
		{% include "templates/partial/breadcrumbs.twig" %}


		{% do action('woocommerce_before_single_product') %}

		<article itemscope itemtype="http://schema.org/Product" class="single-product {{ post.class }}" data-product-id="{{post.ID}}" ">

			<div class="woocommerce_before_single_product_summary">
				{% do action('woocommerce_before_single_product_summary') %}
				<div class="sku">
					<strong>Model:</strong>
					{{sku}}
				</div>
			</div>

			<div class="row">

				<div class="col-12 col-md-8 single-product-content">
					<div class="gallery">
						<div class="gallery__main swiper">
							<div class="swiper-wrapper">

								{% for item in images %}

									<div class="swiper-slide">
										<a data-fslightbox href="{{ item.src }}">
											<img src="{{ item.src("large") }}" alt="">
										</a>
									</div>

								{% endfor %}

							</div>
						</div>
						<div class="swiper gallery__thumbs">
							<div class="swiper-wrapper">

								{% for item in images %}

									<div class="swiper-slide">
										<img src="{{ item.src('thumbnail') }}" alt="">
									</div>

								{% endfor %}

							</div>

						</div>
					</div>

					<div class="summary entry-summary">
						{% do action('woocommerce_single_product_summary') %}
					</div>

					{% do action('woocommerce_after_single_product_summary') %}

					<meta itemprop="url" content="{{ post.link }}"/>

				</div>
				<div class="col-12 col-md-4 single-product-sidebar">
					<div class="price">
						<span class="value" itemprop="price" content="{{ product.price }}">{{ function('wc_price', product.price) }}</span>
					</div>

					{% do action('musicshop_single_sidebar') %}
				</div>
			</div>

		</article>

		{% do action('woocommerce_after_single_product') %}

		<section class="related__products">
			<h2>Related products</h2>
			<div class="row">
				{% for item in related_products %}
					<div class="product col-12 col-sm-6 col-md-4 col-lg-3">
						{% include ["partial/tease-product.twig"] with { post: item } %}
					</div>
				{% endfor %}
			</div>
		</section>

	</div>


{% endblock  %}
